body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.game-container {
    background-color: lightyellow;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 100px;
    width: 300px;
    text-align: center;
}

.game-board {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-bottom: 10px;
}

.color-button {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.3s;
}

.color-button:hover {
    opacity: 0.5;
}

.highlight {
    opacity: 0.5;
}

#color1 {
    background-color: red;
}

#color2 {
    background-color: green;
}

#color3 {
    background-color: blue;
}

#color4 {
    background-color: yellow;
}

.score-display {
    margin-bottom: 10px;
}

.control-buttons button {
    background-color: lightblue;
    color: black;
    text-transform: capitalize;
    border: 0cap;
    padding: 10px 100px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.control-buttons button:hover {
    background-color: orange;
}

.control-buttons button:disabled {
    background-color: white;
    cursor: not-allowed;
}

